body, html {
  height: 100%;
  position: relative;
  background-color: rgb(165, 207, 250);
}

* {
  box-sizing: border-box;
}



.wrapper {
  width: auto;
  padding: 0 5px;
}

.navbar {
  margin-bottom: 1rem;
  background-color: darkgray;
}


.jumbotron {
  color: white;
  margin-top: 10px;
  background-image: url("/images/colorGameCode3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
  opacity: 1;
}

.card-body {
  background-color: darkgray;
}

.card-title, .card-text {
  text-align: center;
}

.table {
  margin: auto;  
}

.footer-Ex {
  width: auto;
  padding: 0 15px;
  height: 50px;
  background-color: darkgray;
}

#fadeIn {
  opacity: 0;
  transition: 1s;
}

#fadeInLonger {
  opacity: 0;
  transition: 6s;
}
